auto_mix_prep==0.2.0
dagshub==0.3.12
imageio==2.33.1
opencv_python==4.8.1.78
opencv_python_headless==4.8.1.78
pafy==0.5.5
pandas==2.1.4
Pillow==10.1.0
Pillow==10.2.0
torch==2.1.2
torchvision==0.16.2
youtube_dl==2020.12.2
-r src/model/yolo/requirements.txt
